<ion-header>
  <ion-toolbar>
    <ion-title>Agrega tu procedimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center pad-25">


    <form [formGroup]="formHist">
      <ion-item> 
        <ion-select #procedimiento label="Procedimiento" formControlName="procedimiento" [multiple]="true" interface="action-sheet"> 
          <div *ngFor="let pro of procedimientos">
            <ion-select-option value="{{pro?.url}}"
            >{{pro?.nombre_proc}}</ion-select-option> 
          </div>
        </ion-select> 
    </ion-item>
    <div class="error">
      <p *ngIf="formHist.get('procedimiento')?.hasError('required')">
        Seleccione una opción
      </p>
    </div>

    <ion-item>
      <ion-input #peso formControlName="peso_hist" label="Peso de la mascota" labelPlacement="floating" type="number"></ion-input>
    </ion-item>
    <div class="error">
      <p *ngIf="formHist.get('peso_hist')?.hasError('required') && formHist.get('peso_hist')?.touched">
        El campo no debe estar vacio
      </p>
    </div>

    <ion-item>
      <ion-input #descripcion formControlName="descripcion_hist" label="Descripción" labelPlacement="floating" type="text"></ion-input>
    </ion-item>
    <div class="error">
      <p *ngIf="formHist.get('descripcion_hist')?.hasError('required') && formHist.get('descripcion_hist')?.touched">
        El campo no debe estar vacio
      </p>
      <p *ngIf="formHist.get('descripcion_hist')?.hasError('minlength')">
        Ingrese al menos 5 carácteres
      </p>
    </div>

    <!--Checkbox de chip-->
    <ion-item>
       <ion-checkbox (ionChange)="cambiarCheckbox($event)" justify="space-between">¿Requiere otra atención?</ion-checkbox>
    </ion-item>

    
    <div *ngIf="isProxAten">
      <!--Fecha de nacimiento-->
      <ion-item> 
        <ion-label >Fecha proxima atención</ion-label>
        <ion-datetime-button datetime="date" slot="end"></ion-datetime-button>
      </ion-item>

      <!--Modal para la fecha de nacimiento-->
      <ion-modal [keepContentsMounted]="true">
          <ng-template>
              <ion-datetime presentation="date" preferWheel="true" locale="es-ES" id="date" (ionChange)="fecha($event)"></ion-datetime>
          </ng-template>
      </ion-modal>
    </div>

    </form>



  </div>


</ion-content>

<!--Footer-->
<ion-footer>
  <!--Toolbar con 2 botones-->
  <ion-toolbar>
      <ion-title></ion-title>
      <ion-buttons slot="start">
          <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button button-type="submit" (click)="enviarDatos(procedimiento, peso, descripcion)" [strong]="true" [disabled]="!formHist.valid">Confirmar</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
