    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Ayuda con la contraseña</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <form [formGroup]="formCorreo">
              <!--Enviar codigo-->
        <ion-item>
          <ion-input #correo label="Correo electronico" formControlName="correo" labelPlacement="floating" placeholder="Ingresa tu correo electronico" value=""></ion-input>
        </ion-item>
        <ion-item lines="none">
          <p class="mensaje">
            <ion-icon name="mail-outline"></ion-icon>
            Te enviaremos un código de verificación a tu correo</p>
        </ion-item>
      </form>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <div>
              <ion-button (click)="enviarCodigo(correo)" shape="round" fill="outline">Enviar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--Campo para verificar codigo-->
      <div *ngIf="correoSend">
        <form [formGroup]="formCodigo">  
          <!--Contraseña nueva-->
          <ion-item>
            <ion-input #codigo [disabled]="valid"
            label="Codigo de verificación"
            labelPlacement="floating" formControlName="codigo"></ion-input>
        </ion-item>
        <div class="error">
          <p *ngIf="formCodigo.get('codigo')?.hasError('required') && formCodigo.get('codigo')?.touched"> El campo debe estar completo</p>
        </div>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <div>
                <ion-button (click)="setCodigo(codigo)" shape="round" fill="outline">confirmar</ion-button> 
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> 
        </form>
        
        <!--Si el codigo es valido, campos para contraseña-->
        <div *ngIf="isCodigo" class="ion-margin-top">
          <form [formGroup]="formContra">
            <!--Contraseña nueva-->
            <ion-item>
                <ion-input #contraNueva
                label="Contraseña nueva" minlength="4" maxlength="50"
                labelPlacement="floating" formControlName="contraNueva" type="password"></ion-input>
            </ion-item>
            <div class="error">
              <p *ngIf="formContra.get('contraNueva')?.hasError('minlength')">
                Ingresa al menos 8 carácteres
              </p>
              <div *ngIf="formContra.get('contraNueva')?.hasError('pattern')">
                <p>Ingresa al menos una mayuscula</p>
                <p>Ingresa al menos un digito</p>
                <p>No debe contener espacios en blanco</p>
              </div>
              <p *ngIf="formContra.get('contraNueva')?.hasError('required') && formContra.get('contraNueva')?.touched">
                El campo debe estar completo
              </p>
              <p *ngIf="formContra.get('contraNueva')?.hasError('maxlength')">
                Máximo 15 cáracteres
              </p>
            </div>
          </form>
        </div>
      </div>


    </ion-content>
      <!--Footer-->
      <ion-footer>
        <!--Toolbar con 2 botones-->
        <ion-toolbar>
            <ion-title></ion-title>
            <ion-buttons slot="start">
                <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button button-type="submit" (click)="setContra()" [disabled]="!formContra.valid" [strong]="true">Confirmar</ion-button>
            </ion-buttons>
        </ion-toolbar>
      </ion-footer>

